.venv
venv
__pycache__
*.pyc
*.pyo
*.egg-info
.git
.gitignore
.pytest_cache
uploads
vector_store
ai-worker-service/vector_store
ai_document_analysis.egg-info
*.log
.env
.DS_Store
.vscode
.idea
ai-worker-service/celerybeat-schedule
ai-worker-service/celerybeat-schedule-shm
ai-worker-service/celerybeat-schedule-wal